.postBanner {
    object-fit: cover;
    width: 100%;
}

.mainContent {
    background-color: white;
    border-radius: 4px 4px 0 0;

}

#postFooter {
    background-color: #B4B4B4;
}

.author-image {
    border-radius: 50%;
    width: 52px;
    height: 52px;
}

.author-image-footer {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}